.outline-button-small {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #EEEEEE;
  color: #FFFFFF;
  font-size: 11px;
  padding: 5px 15px;
}
.outline-button-small:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-small:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-medium {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #EEEEEE;
  color: #FFFFFF;
  font-size: 13px;
  padding: 10px 15px;
}
.outline-button-medium:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-medium:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-large {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #EEEEEE;
  color: #FFFFFF;
  font-size: 13px;
  padding: 20px 15px;
}
.outline-button-large:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-large:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.primary-button-small {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: #000000;
  color: #FFFFFF;
  border: none;
  font-size: 11px;
  padding: 5px 15px;
}
.primary-button-small:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-small:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-small[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.primary-button-medium {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: #000000;
  color: #FFFFFF;
  border: none;
  font-size: 13px;
  padding: 10px 15px;
}
.primary-button-medium:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-medium:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-medium[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.primary-button-large {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: #000000;
  color: #FFFFFF;
  border: none;
  font-size: 13px;
  padding: 20px 15px;
}
.primary-button-large:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-large:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-large[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.secondary-button-small {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  border: 1px solid #CCCCCC;
  color: #000000;
  font-size: 11px;
  padding: 5px 15px;
}
.secondary-button-small:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-small:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.secondary-button-medium {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  border: 1px solid #CCCCCC;
  color: #000000;
  font-size: 13px;
  padding: 10px 15px;
}
.secondary-button-medium:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-medium:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.secondary-button-large {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  border: 1px solid #CCCCCC;
  color: #000000;
  font-size: 13px;
  padding: 20px 15px;
}
.secondary-button-large:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-large:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-small-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #EEEEEE;
  color: #FFFFFF;
  font-size: 11px;
  padding: 5px 15px;
  width: 100%;
}
.outline-button-small-wide:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-small-wide:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-small-wide:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-small-wide:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-medium-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #EEEEEE;
  color: #FFFFFF;
  font-size: 13px;
  padding: 10px 15px;
  width: 100%;
}
.outline-button-medium-wide:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-medium-wide:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-medium-wide:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-medium-wide:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-large-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #EEEEEE;
  color: #FFFFFF;
  font-size: 13px;
  padding: 20px 15px;
  width: 100%;
}
.outline-button-large-wide:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-large-wide:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.outline-button-large-wide:hover {
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.outline-button-large-wide:active {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: olor: #000000;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.primary-button-small-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: #000000;
  color: #FFFFFF;
  border: none;
  font-size: 11px;
  padding: 5px 15px;
  width: 100%;
}
.primary-button-small-wide:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-small-wide:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-small-wide[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.primary-button-small-wide:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-small-wide:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-small-wide[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.primary-button-medium-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: #000000;
  color: #FFFFFF;
  border: none;
  font-size: 13px;
  padding: 10px 15px;
  width: 100%;
}
.primary-button-medium-wide:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-medium-wide:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-medium-wide[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.primary-button-medium-wide:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-medium-wide:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-medium-wide[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.primary-button-large-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  background: #000000;
  color: #FFFFFF;
  border: none;
  font-size: 13px;
  padding: 20px 15px;
  width: 100%;
}
.primary-button-large-wide:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-large-wide:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-large-wide[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.primary-button-large-wide:hover {
  background: #333333;
  text-decoration: none;
}
.primary-button-large-wide:active {
  background: #333333;
  box-shadow: inset 0px 0px 8px 0px #000000;
  text-decoration: none;
}
.primary-button-large-wide[disabled=disabled] {
  background: #fff;
  color: #CCC;
  border: 1px solid #CCC;
  cursor: not-allowed;
}
.secondary-button-small-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  border: 1px solid #CCCCCC;
  color: #000000;
  font-size: 11px;
  padding: 5px 15px;
  width: 100%;
}
.secondary-button-small-wide:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-small-wide:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.secondary-button-small-wide:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-small-wide:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.secondary-button-medium-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  border: 1px solid #CCCCCC;
  color: #000000;
  font-size: 13px;
  padding: 10px 15px;
  width: 100%;
}
.secondary-button-medium-wide:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-medium-wide:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.secondary-button-medium-wide:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-medium-wide:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.secondary-button-large-wide {
  border-radius: 3px;
  font-family: GillSans;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-appearance: none;
  border: 1px solid #CCCCCC;
  color: #000000;
  font-size: 13px;
  padding: 20px 15px;
  width: 100%;
}
.secondary-button-large-wide:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-large-wide:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}
.secondary-button-large-wide:hover {
  background: #EEEEEE;
  text-decoration: none;
}
.secondary-button-large-wide:active {
  background: #EEEEEE;
  box-shadow: inset 0px 0px 8px 0px #999999;
  text-decoration: none;
}